player-connection-mode=Listen
player-connection-guid=879920135
player-connection-debug=0
player-connection-project-name=HackVerse_Scratch
player-connection-ip=10.22.46.239
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=OculusXRPlugin
